* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  background-color: #141414;
  color: #fff;
  height: 100%;
}

body {
  background-color: #141414;
  color: #fff;
}

.images {
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  overflow: hidden;
  width: 1280px;
}

.image {
  margin: 5rem 1rem 0 1rem;
}

.image.active {
  opacity: 1;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button-image {
  margin: 1rem 2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #ffffff52;
  border-radius: 10%;
}